#stage1_back{
  background-color:rgb(42, 42, 42);
}
#clearMessage{
  color: rgba(186, 209, 1, 0.83);
  font-size: 120px;
  margin-bottom: -200px;
}
.stageName
{
  color:rgb(180, 180, 180)
}

#blue{
  color:rgb(58, 23, 228)
}
#red{
  color:rgb(204, 27, 27)
}
#inputLine{


}
